.application-form{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.navigation{
    background-color: #FCC22C;
}
.careers-content{
    max-width: 1000px;
    margin: 3rem auto;
    padding: 1rem;
}

.careers-content > p{
    margin: 1rem 0rem;
}

.application-form{
    grid-template-columns: max-content auto;
    margin: 2rem auto;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}
@media (max-width: 700px){
    .application-form{
        grid-template-columns: auto;
        justify-content: unset;
    }
}
.application-form input:not([type="submit"]){
    width: 90vw;
    max-width: 400px;
    padding:1rem 1.5rem;
    border:1px solid gold;
    border-radius: 5px;
}

.application-form input[type="submit"]{
    padding: 1rem 2rem;
}

.application-form textarea{
    display: block;
    width: 90vw;
    max-width: 400px;
    padding: 0.5rem 1.5rem;
    min-height: 100px;
    border:1px solid gold;
    border-radius: 5px;
}

.application-form input:focus, .contact-us-form textarea:focus{
    outline-style: none;
}

.application-form label{
    align-self: center;
}