.company-contact-information, .contact-us-form, #success-message{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}

.contact-details{
    max-width:1000px;
    margin: 2rem auto;
    padding:0.5rem;
}

.contact-us-title{
    font-size:1.1rem;
}

.company-contact-information{
    grid-template-columns: repeat(3, auto);
    margin-top:4rem;
    row-gap: 2rem;
}
@media (max-width: 768px){
    .company-contact-information{
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 570px){
    .company-contact-information{
        grid-template-columns: auto;
    }
}
.company-contact-information > div{
    justify-self: center;
    text-align: center;
}

.company-contact-information .underline{
    width: 40px !important;
    margin-left: auto;
    margin-right: auto;
}

.company-contact-information img{
    height: 80px;
    margin-bottom: 2rem;
}

.your-request-title{
    margin:3rem 0rem;
}

.contact-us-form{
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    column-gap:2rem;
    row-gap:2rem;
    align-items: center;
}
@media (max-width: 580px){
    .contact-us-form{
        grid-template-columns: auto;
    }
}
.contact-us-form input:not([type="submit"]){
    display: block;
    width: 95vw;
    max-width: 400px;
    padding:1rem 1.5rem;
    border:1px solid gold;
    border-radius: 5px;
}
.contact-us-form span{
    display: block;
}
.contact-us-form input[type="submit"]{
    padding: 1rem 2rem;
}
.contact-us-form textarea{
    display: block;
    width: 95vw;
    max-width: 400px;
    padding: 0.5rem 1.5rem;
    min-height: 100px;
    border:1px solid gold;
}
.contact-us-form span{
    color: red;
}
.contact-us-form input:focus, .contact-us-form textarea:focus{
    outline-style: none;
}

#success-message{
    box-shadow: 1px 1px 3px 3px rgb(210, 210, 210);
    padding:2rem 1rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    row-gap: 1rem;
    margin: 2rem 0rem;
    border-radius: 5px;
}
#success-message p{
    color: #28a745;
}
#success-message button{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #00aeef;
    color: white;
}

#success-message button:hover{
    cursor: pointer;
    background-color: #0094ca;
}

.submit-button{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.submit-button:hover{
    background-color: #25963f;
    cursor: pointer;
}