main{
    padding: 1rem;
}
.page-intro{
    max-width: 1000px;
    margin: auto;
}

.policy-image{
    width: 100%;
}

.page-intro .swiper-slide{
    margin-bottom: 2rem;
}

.page-intro .swiper{
    margin:2rem auto;
}

.content{
    max-width: 800px;
    margin: auto;
}

.content p{
    margin: 2rem 0rem;
}

.embeded-policy{
    width:95%;
    max-width: 1000px;
    height: 100vh;
    display: block;
    margin: 3rem auto;
}