.our-core-values{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.landing-container .swiper-slide{
    width: 100vw;
    border: 3px solid red;
}
.homepage-landing{
    grid-template-columns: 55% 45% !important;
    column-gap:1rem;
    /* border: 1px solid black; */
}

.homepage-landing > div:last-of-type{
    padding-right: 2rem;
}
.navigation{
    /* border:2px solid green; */
    transition: background-color 0.5s linear;
}
.homepage-landing .section-content p{
    font-weight: 500;
}
.landing{
    width: 100vw;
    min-height: 100vh;
    margin:auto;
    overflow: hidden;
    padding-top: 3rem;
}
.landing-1{
    background-color: #3F2B73;

}
.landing-1 p, .landing-1 h1, .landing-1 span{
    color: white;
}
.landing-2{
    background-color: #FCC22C;
}
.landing-3{
    background-color: #089547;
}
.landing-3 p, .landing-3 h1, .landing-3 span{
    color: white;
}
.landing h1{
    font-size: 2rem !important;
}
.landing .content-right{
    width: 80%;
    margin: auto;
}
.landing-image{
    /* border:1px solid black; */
    margin-top:0rem;
    
    position: relative;
    left: -70%;
    z-index:-1;
    width:150% !important;
    /* border:2px solid black; */
}
.landing-image-2{
    margin-top:0rem;
    position: relative;
    left: -80%;
    z-index:-1;
    width:180% !important;
}
.landing-image-3{
    margin-top:0rem;
    position: relative;
    left: -70%;
    z-index:-1;
    width:180% !important;
}
@media (min-width: 1440px){
    .landing-image{
        width: 160% !important;
        left:-55%;
    }
}
@media (max-width: 1440px){
    .landing-image{
        width: 160% !important;
        left: -60%;
    }
}
@media (max-width:1200px){
    .landing-image{
        width: 120% !important;
        left: -6rem;
        z-index:1;
    }
}
@media(max-width:876px){
    .landing-image{
        margin-top:0rem;
        width:130% !important;
        left:-8rem;
    }
}
@media (max-width: 768px){
    .landing-image{
        width:130% !important;
        left:-23%;
    }
    .homepage-landing{
        grid-template-columns: auto !important;
    }
}
.landing-vector{
    width:40%;
    max-width:150px;
    height: auto;
    position: absolute;
    top:-50%;
    right: 2rem;
}
@media(max-width: 1138px){
    .landing-vector{
        /* width:50%; */
        top:-70%;
        right:0%;
    }
}
@media (max-width: 956px){
    .landing-vector{
        top:-30%;
        z-index:-1;
        opacity:0.6;
    }
}
.about-power-wiz{
    grid-template-columns: 45% 55%;
    width: 90%;
    margin:-10rem auto 0rem auto;
    column-gap:2rem;
}
@media (max-width: 1192px){
    .about-power-wiz{
        margin: -5rem auto 0rem auto;
    }
}
@media (max-width: 926px){
    .about-power-wiz{
        margin: 0rem auto 0rem auto;
    }
}
.telecommunication-image-container{
    z-index: 1 !important;
}
.telecommunication-maintenance-image{
    width:100%;
    display: block;
    position: relative;
}
.gears-vector{
    width:500px;
    position: absolute;
    top:-180%;
    left: 5%;
    z-index: -1;
    opacity:0.4;
}
@media(max-width: 1082px){
    .gears-vector{
        width:100%;
        top:-20%;
    }
}
.our-services-title{
    margin-left:25rem;
    margin-bottom:4rem;
}

@media(max-width: 1282px){
    .our-services-title{
        margin-left: 25%;
    }
}
.solar-panel-vector{
    width:400px;
    position: absolute;
    top:-90%;
    left:5%;
    z-index:-1;
}
@media(max-width:1154px){
    .solar-panel-vector{
        width:80%;
    }
}
@media (max-width:1096px){
    .solar-panel-vector{
        top:-10%;
    }
}
.residential-solar-panels{
    width:80%;
    margin: auto;
    column-gap:2rem;
}
.residential-solar-panel-installation-image{
    width:500px;
}

.commercial-solar-panels{
    width:85%;
    margin:auto;
    column-gap:2rem;
}
.commercial-solar-panel-vector{
    width:450px;
    position: absolute;
    top:20%;
    left:20%;
    z-index:-1;
}
@media (max-width:1248px){
    .commercial-solar-panel-vector{
        width: 90%;
        left:0%;
    }
}
.telecommunication-equipment{
    grid-template-columns: 45% 55%;
    width:80%;
    column-gap: 2rem;
    margin: auto;
}
.telecommunication-image{
    width:300px;
}
.booster-vector{
    width:150px;
    position: absolute;
    top:-20%;
    left:20%;
    z-index:-1;
}
@media (max-width: 960px){
    .booster-vector{
        width:unset;
        height: 100%;
        top:0%;
        left:40%
    }
}
.fiber-optics-works{
    width:80%;
    margin:auto;
    column-gap:2rem;
}
.fiber-optics-vector{
    width:50%;
    position: absolute;
    top: 0;
    left:20%;
    z-index: -1;
}
.diesel-generator-maintenance{
    width: 90%;
    margin: auto;
    column-gap: 2rem;
}
.diesel-generator-image{
    width:500px !important;
    display: block;
    margin-left: auto;
}
@media(max-width:1135px){
    .diesel-generator-image{
        width:100% !important;
    }
}
.generator-vector{
    width:70%;
    position: absolute;
    top:0%;
    right: 10%;
}
.power-lines-and-grid-maintenance{
    column-gap: 2rem;
    width: 85%;
    margin: auto;
}
.power-grid-image{
    width: 500px !important;
    margin-right: auto;
}
@media(max-width: 1135px){
    .power-grid-image{
        width: 100% !important;
    }
}
.transmission-line-vector{
    width:400px;
    position: absolute;
    top:0%;
    left: 0%;
    visibility: hidden;
}
.electrical-and-mechanical-works{
    width: 85%;
    margin: auto;
    column-gap: 2rem;
}
.electrical-works-image{
    width: 500px !important;
    margin-left: auto;
    display: block;
}
@media(max-width: 1148px){
    .electrical-works-image{
        width:100% !important;
    }
}
.full-turnkey-civil-works{
    width: 80%;
    margin: auto;
    column-gap:2rem;
}
.full-turnkey-civil-works .section-content > img{
    z-index: -1 !important;
}
.turnkey-vector{
    width:300px;
    position: absolute;
    top: -30%;
    left: 0%;
    z-index:0 !important;
}
.water-infrustructure-implementation{
    width: 80%;
    margin: auto;
    column-gap: 2rem;
}
.engineering-works-vector{
    width:150px;
    position: absolute;
    top:-40%;
    right: 10%;
    z-index:-1;
}
.our-core-values-title{
    margin: 4rem auto 3rem auto;
    width: max-content
}

.our-core-values{
    grid-template-columns:repeat(3, auto);
    grid-template-rows: auto;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    column-gap:2rem;
}
@media(max-width:1024px){
    .our-core-values{
        width: 80%;
    }
}
@media (max-width: 804px){
    .our-core-values{
        grid-template-columns: repeat(2, auto);
        row-gap: 2rem;
    }
}
@media (max-width: 576px){
    .our-core-values{
        grid-template-columns: auto;
    }
}
.our-core-values h3{
    margin: 2rem auto;
    font-size:1rem;
}
.our-core-values img{
    transition:transform 1s;
}
.our-core-values > div:hover{
    cursor: pointer;
}
.our-core-values > div:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.our-core-values .underline{
    margin: auto auto 2rem auto;
    width: 0px;
    transition: width 0.5s;
}
.our-core-values > div:hover .underline{
    width: 40px;
}
.our-core-values p, .our-core-values h3{
    text-align: center;
}
.integrity-icon, .excellence-icon, .growth-for-all-icon{
    width:150px;
    display: block;
    margin: auto;
}
.construction-machinery{
    width: 70%;
    max-width: 700px;
    margin: 3rem auto;
    display: block;
}

.background-video{
    position: fixed;
    z-index: -2;
    top:0;
    width: 100vw;
    height: auto;
    opacity: 0.1;
}

.residential-solar-panels .section-content{
    animation: textFromLeft 1s linear;
}

@keyframes textFromLeft{
    0%{
        margin-right:-2rem;
        opacity: 0;
    }
    100%{
        margin-right:0rem;
        opacity:1;
    }
}