.navigation{
    background-color: #FCC22C;
}
.project-images{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.project-images{
    margin-top: 4rem;
}
.our-projects-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto 1rem auto;
}
.filters{
    margin: 1rem auto;
    white-space: nowrap;
    overflow: auto;
    /* scrollbar-color: red orange; */
    scrollbar-width: thin;
    max-width: 1200px;
}
main .underline{
    margin-bottom: 0rem !important;
}
.filters button{
    padding: 1rem;
    margin: 0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: box-shadow 1s;
}

.filters button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(180, 180, 180);
}
.filters .active{
    box-shadow: 2px 2px 4px rgb(180, 180, 180);
}
.content{
    /* max-width: 1200px; */
    margin: auto;
    padding: 0.5rem;
}
.project-images{
    grid-template-columns: repeat(3, auto);
    column-gap: 0.1rem;
    row-gap: 1rem;
}
@media (max-width: 768px){
    .project-images{
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 425px){
    .project-images{
        grid-template-columns: auto;
    }
}
.project-images img{
    width: 100%;
    box-shadow: 2px 2px 4px rgb(180, 180, 180);
    border-radius: 5px;
    display: block;
    position: relative;
}